/web/node_modules/
/web/dist/*
!/web/dist/.gitkeep
/web/test-results/
/web/playwright-report/
/scp-client
/desktop/node_modules/
/desktop/dist/
/desktop/build/
/desktop/out/
/desktop/test-results/
/desktop/playwright-report/
